* {
  box-sizing: border-box;
  list-style: none;
}

:root {
  --bg-body-color: #005555;
  --color: white;
  --bg-add-btn: #434343;
  --bg-delete-btn: #8f0612;
  --border-radius: 5px;
}

body {
  font-family: Roboto;
  background-color: var(--bg-body-color);
  color: var(--color);
  text-align: center;
}

.container {
  width: 500px;
  margin-right: auto;
  margin-left: auto;
}

h1 {
  font-size: 50px;
}

button {
  font-size: 18px;
  padding: 10px 20px;
  border-radius: var(--border-radius);
  color: var(--color);
  cursor: pointer;
  transition: all 0.5 ease;
}

.add-btn {
  border: none;
  background-color: var(--bg-add-btn);
}

.add-btn:hover,
.delete-btn:hover {
  opacity: 0.8;
}

.delete-btn {
  background-color: var(--bg-delete-btn);
  border: none;
}

input[type="text"] {
  width: 70%;
  font-size: 15px;
  border-radius: var(--border-radius);
  padding: 10px 20px;
  border: 2px solid var(--bg-add-btn);
  background-color: lightgrey;
}

ul {
  padding: 0;
  margin-top: 40px;
}

li {
  font-size: 18px;
  font-weight: bold;
  width: 100%;
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--border-radius);
  background-color: lightgrey;
  color: var(--bg-body-color);
  border-radius: var(--border-radius);
}
